html {
    background-color: lightslategray;
}

.body {
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
}

.displayRow {
    display: flex;
    gap: 4px;
}

.calculator {
    display: flex;
    flex-direction: column;
    margin: 4px;
    padding: 4px;
    gap: 4px;
    background-color: lightgray;
    border: 1px solid black;
}

.display {
    overflow-wrap: break-word;
    background-color: white;
    border: 1px solid black;
    width: 126px;
    max-width: 126px;
}

button {
    height: 25px;
    width: 40px;
}

sup {
    line-height: 0;
}

.number {
    background-color: lightgreen;
}

.operation {
    background-color: lightseagreen;
}

.modification {
    background-color: lightseagreen;
}