.body {
    display: flex;
    height: auto;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    margin: 4px;
    padding: 4px;
    gap: 4px;
    background-color: lightgray;
    border: 1px solid black;
}

.display {
    background-color: white;
    border: 1px solid black;
}

button {
    width: 40px;
}